body {
    
    background: rgb(0, 110, 255); 
}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    color:yellow;
    font-family: 'Handlee';
}

h3 {
    font-size: 25px;
    letter-spacing: 3px;
    color:yellow;
}

#uniek {
    color: aquamarine;
}

p {
    font-size: 15px; 
    color: black;
}

.body {
    font-family: 'Handlee';
    font-size: 50px;
}